unit 3

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
print("Python Programming")

Python Programming

unit 5

- int: 정수
- float: 실수
- complex: 복소수

In [ ]:
# 몫 출력
5//2

2

In [ ]:
# 나머지 출력
5%2

1

In [ ]:
# 거듭제곱
2**10

1024

In [ ]:
int(3.3)

3

In [ ]:
int(5/2)

2

In [ ]:
int('10')

10

In [ ]:
# 객체의 자료형 확인
type(10)

int

In [ ]:
# 몫과 나머지 함께 구하기
divmod(4, 2)

(2, 0)

In [ ]:
4.2 + 5

9.2

In [ ]:
float(5)

5.0

In [ ]:
float(1+2)

3.0

In [ ]:
float('5.2')

5.2

In [ ]:
# 객체의 자료형 확인
type(3.5)

float

In [ ]:
# 복소수
1.2+1.3j

(1.2+1.3j)

In [ ]:
# 5.5 연습문제: 아파트에서 소음이 가장 심한 층수 출력
int(0.2467 * 12 + 4.159)

7

unit 6

In [ ]:
# 변수 저장하기
x = 10
print(x)

10

In [ ]:
y = 'hello world'
print(y)

hello world

In [ ]:
# 변수의 자료형 확인
type(x)

int

In [ ]:
type(y)

str

In [ ]:
# 변수 여러 개를 한 번에 만들기
x, y, z = 10, 20, 30
print(x)
print(y)
print(z)

10
20
30

In [ ]:
# 여러 개의 변수의 값이 모두 같을 때
x = y = z = 10
print(x)
print(y)
print(z)

10
10
10

In [ ]:
# 변수 삭제
x = 10
del x
print(x)

NameError: ignored

In [ ]:
# 변수에 값을 저장하고 수정
a = 10
a = a + 10
print(a)

20

In [ ]:
# input 함수
input()

코딩도장

'코딩도장'

In [ ]:
# input 함수의 결과를 변수에 할당
x = input()

hello, world!

In [ ]:
print(x)

hello, world!

In [2]:
# 두 숫자의 합 구하기
a = input("첫 번째 숫자를 입력하세요: ")
b = input("두 번째 숫자를 입력하세요: ")

print(a + b)

첫 번째 숫자를 입력하세요: 3
두 번째 숫자를 입력하세요: 5
35

In [3]:
# 입력 값을 정수로 변환하기
a = int(input("첫 번째 숫자를 입력하세요: "))
b = int(input("두 번째 숫자를 입력하세요: "))
print(a + b)

첫 번째 숫자를 입력하세요: 3
두 번째 숫자를 입력하세요: 5
8

In [4]:
# 문자 두 개를 공백을 기준으로 분리해서 입력 받기
a, b = input("문자열 두 개를 입력하세요: ").split()
print(a)
print(b)

문자열 두 개를 입력하세요: 3 5
3
5

In [6]:
a, b = input("문자열 두 개를 입력하세요: ").split()
print(b)
print(a)

문자열 두 개를 입력하세요: 3 5
5
3

In [7]:
# 두 숫자의 합 구하기
a, b = input("숫자 두 개를 입력하세요: ").split()
print(a + b)

숫자 두 개를 입력하세요: 3 5
35

In [9]:
# 입력 값을 정수로 변환하기
a, b = input("숫자 두 개를 입력하세요: ").split()
a = int(a)
b = int(b)
print(a + b)

숫자 두 개를 입력하세요: 3 5
8

In [11]:
# map을 사용하여 정수로 변환하기
# map에 int와 input().split()을 넣으면 split의 결과를 모두 int로 변환해줌
a, b = map(int, input("숫자 두 개를 입력하세요: ").split())
print(a + b)

숫자 두 개를 입력하세요: 3 5
8

In [13]:
# 입력받은 값을 콤마를 기준으로 분리하기
a, b = map(int, input("숫자 두 개를 입력하세요: ").split(","))
print(a + b)

숫자 두 개를 입력하세요: 3, 5
8

In [17]:
# 6.6 연습문제: 정수 세 개를 입력받고 합계 출력하기
a, b, c = map(int, input("숫자 세 개를 입력하세요: ").split())
print(a + b + c)

숫자 세 개를 입력하세요: 1 2 3
6

unit 7

In [18]:
# 값을 여러 개 출력하기 - ,
print(1, 2, 3)

1 2 3

In [19]:
# sep로 값 사이에 문자 넣기
print(1, 2, 3, sep=',')

1,2,3

In [20]:
# 줄바꿈
print(1, 2, 3, sep = '\n')

1
2
3

In [21]:
print('1\n2\n3')

1
2
3

In [22]:
# 한 줄에 출력하기
print(1, end='')
print(2, end='')
print(3)

123

In [23]:
# 7.4 연습문제: 날짜와 시간 출력하기
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59

print(year, month, day, sep='/', end = ' ')
print(hour, minute, second, sep=':')

2000 / 10 / 27 11:43:59